{
  "default": [{"type": "reject"}],
  "transports": {
    "docker": {
      "ghcr.io/__REGISTRY_NAMESPACE__": [
        {
          "type": "sigstoreSigned",
          "keyPath": "/etc/pki/containers/cosign.pub",
          "signedIdentity": {
            "type": "matchRepository"
          }
        }
      ],
      "registry.fedoraproject.org": [{"type": "insecureAcceptAnything"}],
      "docker.io": [{"type": "insecureAcceptAnything"}],
      "quay.io": [{"type": "insecureAcceptAnything"}],
      "codeberg.org": [{"type": "insecureAcceptAnything"}]
    },
    "containers-storage": {"": [{"type": "insecureAcceptAnything"}]},
    "docker-archive": {"": [{"type": "insecureAcceptAnything"}]},
    "oci-archive": {"": [{"type": "insecureAcceptAnything"}]},
    "docker-daemon": {"": [{"type": "insecureAcceptAnything"}]}
  }
}
