{
  "default": [{"type": "reject"}],
  "transports": {
    "docker": {
      "ghcr.io/__REGISTRY_NAMESPACE__/": [
        {
          "type": "sigstoreSigned",
          "keyPath": "/etc/pki/containers/cosign.pub",
          "signedIdentity": {
            "type": "matchRepository"
          }
        }
      ],
      "ghcr.io": [{"type": "insecureAcceptAnything"}]
    },
    "docker-daemon": {"": [{"type": "insecureAcceptAnything"}]}
  }
}
