[Unit]
Description=Generate NVIDIA CDI specification
Documentation=https://github.com/NVIDIA/nvidia-container-toolkit
After=local-fs.target
ConditionPathExists=/dev/nvidia0

[Service]
Type=oneshot
RuntimeDirectory=cdi
ExecStart=/usr/bin/nvidia-ctk cdi generate --output=/run/cdi/nvidia.yaml
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
