[Unit]
Description=Collect workload metrics for Prometheus
Documentation=man:workload-metrics

[Service]
Type=oneshot
ExecStart=/usr/libexec/workload-metrics
